build/services/services.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>default</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
  </head>
  <body class="page page-template-default">
    <div class="#{page_class} main_wrap">
      <div class="hfeed site" id="page">
        <div class="site-content" id="content" tabindex="-1">
          <div class="container">
            <nav class="woocommerce-breadcrumb"><a href="/">Главная</a><span class="delimiter"><i class="fa fa-angle-right"></i>Услуги</span></nav>
            <div class="content-area" id="primary">
              <main class="site-main" id="main">
                <article class="hentry">
                  <header class="entry-header">
                    <h1 class="entry-title">Услуги</h1>
                  </header>
                  <div class="services__list">
                    <div class="sl__item">
                      <div class="sl__img"><img src="../img/serv1.jpg" alt=""></div><a class="sl__title" href="">Монтаж кондиционеров</a>
                    </div>
                    <div class="sl__item">
                      <div class="sl__img"><img src="../img/serv2.jpg" alt=""></div><a class="sl__title" href="">Монтаж вителяции</a>
                    </div>
                    <div class="sl__item">
                      <div class="sl__img"><img src="../img/serv3.jpg" alt=""></div><a class="sl__title" href="">Установка защиты от протечек</a>
                    </div>
                    <div class="sl__item">
                      <div class="sl__img"><img src="../img/serv1.jpg" alt=""></div><a class="sl__title" href="">Монтаж кондиционеров</a>
                    </div>
                    <div class="sl__item">
                      <div class="sl__img"><img src="../img/serv2.jpg" alt=""></div><a class="sl__title" href="">Монтаж вителяции</a>
                    </div>
                    <div class="sl__item">
                      <div class="sl__img"><img src="../img/serv3.jpg" alt=""></div><a class="sl__title" href="">Установка защиты от протечек</a>
                    </div>
                  </div>
                  <div class="services__text row">
                    <div class="col-md-6">
                      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia ratione molestias quae magni dolor labore ad iusto. Atque corrupti molestiae quis. Tenetur, debitis! Illum quis blanditiis veritatis placeat quisquam unde autem omnis iure est! Non nemo culpa, recusandae id! Consequatur ipsum, quaerat labore odio, ab inventore. Deleniti cumque, eum possimus!</p>
                    </div>
                    <div class="col-md-6">
                      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia ratione molestias quae magni dolor labore ad iusto. Atque corrupti molestiae quis. Tenetur, debitis! Illum quis blanditiis veritatis placeat quisquam unde autem omnis iure est! Non nemo culpa, recusandae id! Consequatur ipsum, quaerat labore odio, ab inventore. Deleniti cumque, eum possimus!</p>
                    </div>
                  </div>
                </article>
              </main>
            </div>
          </div>
        </div>
      </div>
    </div>
    <link rel="stylesheet" href="../common.css">
    <!--inject:css-->
    <!--endinject-->
    <script src="../common.js" defer></script>
    <!--inject:js-->
    <!--endinject-->
  </body>
</html>

dev/pages/services/services.pug
extends ../../common/jade/base/base

block vars
	- var page_class = "home"

block content
	#page.hfeed.site

		#content.site-content(tabindex='-1')
			.container
				nav.woocommerce-breadcrumb
					a(href='/') Главная
					span.delimiter
						i.fa.fa-angle-right
						| Услуги

				#primary.content-area
					main#main.site-main
						article.hentry
							header.entry-header
								h1.entry-title Услуги
							.services__list
								.sl__item
									.sl__img
										img(src="../img/serv1.jpg", alt="")
									a(href="").sl__title Монтаж кондиционеров

								.sl__item
									.sl__img
										img(src="../img/serv2.jpg", alt="")
									a(href="").sl__title Монтаж вителяции

								.sl__item
									.sl__img
										img(src="../img/serv3.jpg", alt="")
									a(href="").sl__title Установка защиты от протечек

								.sl__item
									.sl__img
										img(src="../img/serv1.jpg", alt="")
									a(href="").sl__title Монтаж кондиционеров

								.sl__item
									.sl__img
										img(src="../img/serv2.jpg", alt="")
									a(href="").sl__title Монтаж вителяции

								.sl__item
									.sl__img
										img(src="../img/serv3.jpg", alt="")
									a(href="").sl__title Установка защиты от протечек

							.services__text.row
								.col-md-6
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia ratione molestias quae magni dolor labore ad iusto. Atque corrupti molestiae quis. Tenetur, debitis! Illum quis blanditiis veritatis placeat quisquam unde autem omnis iure est! Non nemo culpa, recusandae id! Consequatur ipsum, quaerat labore odio, ab inventore. Deleniti cumque, eum possimus!
								.col-md-6
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia ratione molestias quae magni dolor labore ad iusto. Atque corrupti molestiae quis. Tenetur, debitis! Illum quis blanditiis veritatis placeat quisquam unde autem omnis iure est! Non nemo culpa, recusandae id! Consequatur ipsum, quaerat labore odio, ab inventore. Deleniti cumque, eum possimus!
